*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

header{
    font-family: Arial, Helvetica, sans-serif;
    width:100%;
    background-color:#2196F3;
    padding: 5px 1px 5px 1px;
}

.container{
    display:flex;
    justify-content: center;
}

.logo{
    color:white;
    display: flex;
    align-items: center;
    padding: 16px;
}

.search-bar {
    display: flex;
    align-items: center;
    padding: 16px;
}

input[type=search]{
    border:none;
    padding: 7px 4px 7px 4px;
    width: 250px;
}

ul{
    list-style-type: none;
    margin: 0;
    display: flex;
    align-items: center;
}

li {
    display: flex;
    align-items: center;
}

li a{
    text-decoration: none;
    list-style: none;
    text-align:center;
    padding: 16px;
    color: darkblue;
}