*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}

main{
    width:80%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

ul {
    list-style-type: none;
    margin: 0 auto;
    justify-content: center;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    border-radius: 15px;
}

.product {
    display: block;
    height: 150px;
    margin: 24px;
    color: black;
    text-decoration: none;
}

img {
    max-height: 100px;
}